<h1>New Appearance</h1>
<%= form_for(@appearance) do |f| %>
<%= f.label :episode %>
<%= f.text_field :episode %>
<%= f.label :guest %>
<%= f.text_field :guest %>
<!-- rating won't be added until after appearance -->
<!-- <%= f.label :rating %>
<%= f.text_field :rating%> -->
<%= f.submit %>
<% end %>
